__pycache__/
*.pyc
*.log
build/
install/
log/
*.egg-info/
.vscode/
*.db
*.sh.env
*.bash
*.zsh
*.ps1
__pycache__/
.env
.venv
*.egg
*.egg-info
*.pyo
*.pyd
*.so
*.swp
*.swo
.colcon_install_layout
COLCON_IGNORE

